<a href="https://colab.research.google.com/github/2403A51L41/Data-Mining-B52/blob/main/lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

In [16]:
print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [18]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
print(df)

  Category  Value  Label_Encoded
0        A     10              0
1        A     20              0
2        B     10              1
3        B     30              1
4        C     40              2

In [10]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [11]:
from datetime import datetime

In [13]:
data = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df = pd.DataFrame(data)
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [14]:
data = {'Category': ['A', 'A', 'B', 'B', 'C'],
 'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)

In [15]:
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum','mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0